<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicta.gdb"
    android:sharedUserId="NicTB"
    android:sharedUserLabel="@drawable/letho_of_gulet"
    android:versionCode="1"
    android:versionName="string"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gwent"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CollectionActivity" />
        <activity android:name=".CreationActivity" />
        <activity android:name=".AfficherCarteActivity" />
        <activity android:name=".FiltreActivity" />
        <activity android:name=".ChoisirFactionActivity" />
        <activity android:name=".ChoisirLeaderActivity" />
        <activity android:name=".DeckBuilderActivity" />
        <activity android:name=".DeckFiltreActivity" />
        <activity android:name=".ParamDeckActivity"></activity>
    </application>

</manifest>